            body {
                background: #d3e471 url(https://blog.hdwallsource.com/wp-content/uploads/2016/02/patrick-star-15633-16111-hd-wallpapers.jpg) fixed;
                color: #000000;
                font-style: Garamond;
            }
            
            h1, h2 {
                text-align: center;
                font-style: Garamond;
            }
            
            header {
                min-height: 130px;
                background-color: #16033f;
                border: 5px double black;
            }
            
            #head {
                font-size: 40px;
                color: #ffee00;
                font-style: italic;
            }
            
            nav {
                background-color: #16033f;
                max-width: 960px;
                border: 5px double black;
            }
            .VV{
             width:980px;
             margin:0 auto;
            }

            
            #logo {
                float: left;
                width: 100px;
                height:90px;
            }
            
            .text1 {
                color: #ffee00;
                font-style: italic;
                font-size: 30px;
            }
            
            #content {
                max-width: 960px;
                border: 8px double black;
            }
            
            table tr:nth-child(2n) td {
                background: #f5d19b;
            }
            
            table tr:nth-child(2n+1) td {
                background: #16033f;
            }
            
            footer {
                height: 5%;
                background-color: #16033f;
            }
            
            #end {
                color: #ffee00;
                font-style: italic;
                font-size: 22px;
            }